<!-- dashboard.html -->

{% extends "base.html" %}

{% block content %}
  <h1>Dashboard</h1>
  
  <!-- Ekle Butonu -->
  <a href="{% url 'add_password' %}" class="btn btn-primary">Ekle</a>
  
  <!-- Parola Listesi -->
  <table>
    <thead>
      <tr>
        <th>Website</th>
        <th>Kullanıcı Adı</th>
        <th>Parola</th>
      </tr>
    </thead>
    <tbody>
      {% for password in passwords %}
      <tr>
        <td>{{ password.website }}</td>
        <td>{{ password.username }}</td>
        <td>
          <span>{{ password.get_password_display }}</span>
          <button onclick="copyToClipboard('{{ password.password }}')">Kopyala</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <script>
    function copyToClipboard(text) {
      const tempInput = document.createElement('input');
      tempInput.value = text;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand('copy');
      document.body.removeChild(tempInput);
      alert('Parola kopyalandı: ' + text);
    }
  </script>
{% endblock %}
