{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 style="margin-bottom: 25px;">Dashboard</h1>
  
    <!-- Ekle Butonu -->
    <a href="{% url 'add_password' %}" class="btn btn-primary mb-3">Parola Ekle</a>

    <!-- Parola Listesi -->
    {% if page.object_list %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Website</th>
                        <th>Kullanıcı Adı</th>
                        <th>Parola</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Güncelleme Tarihi</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    {% for password in page.object_list %}
                    <tr>
                        <td>
                            <a href="{{ password.website }}" target="_blank">{{ password.website }}</a>
                        </td>
                        <td>
                            {{ password.username }}
                            <button class="btn btn-link copy-username" data-username="{{ password.username }}">Kopyala</button>
                        </td>
                        <td>
                            <span class="password" data-password="{{ password.password }}">
                                {% for i in password.password %}*{% endfor %}
                            </span>
                            <button class="btn btn-link copy-password">Kopyala</button>
                        </td>
                        <td>{{ password.created_at }}</td>
                        <td>{{ password.updated_at }}</td>
                        <td>
                            <a href="{% url 'delete_password' password.id %}" class="btn btn-sm btn-danger delete-password">Sil</a>
                            <a href="{% url 'update_password' password.id %}" class="btn btn-sm btn-warning update-password">Düzenle</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <!-- Sayfa Bağlantıları -->
        <ul class="pagination justify-content-center">
            {% if page.has_previous %}
                <li class="page-item">
                    <a href="?page=1" class="page-link">&laquo; İlk</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ page.previous_page_number }}" class="page-link">Önceki</a>
                </li>
            {% endif %}
            
            {% for num in page.paginator.page_range %}
                <li class="page-item {% if num == page.number %}active{% endif %}">
                    <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                </li>
            {% endfor %}
            
            {% if page.has_next %}
                <li class="page-item">
                    <a href="?page={{ page.next_page_number }}" class="page-link">Sonraki</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ page.paginator.num_pages }}" class="page-link">Son &raquo;</a>
                </li>
            {% endif %}
        </ul>
        
    {% else %}
        <p class="alert alert-info">Kayıtlı parola bulunmamaktadır.</p>
    {% endif %}
</div>

<script>
  // Parola Kopyalama
  document.querySelectorAll(".copy-password").forEach(button => {
    button.addEventListener("click", function() {
      const passwordSpan = this.parentElement.querySelector(".password");
      const password = passwordSpan.getAttribute("data-password");
      
      const tempInput = document.createElement('input');
      tempInput.value = password;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand('copy');
      document.body.removeChild(tempInput);
      
      // Buton metnini "Kopyalandı" olarak değiştir
      this.textContent = "Kopyalandı";

      // 2 saniye sonra buton metnini tekrar "Kopyala" olarak geri değiştir
      setTimeout(() => {
        this.textContent = "Kopyala";
      }, 2000);
    });
  });

  // Kullanıcı Adı Kopyalama
  document.querySelectorAll(".copy-username").forEach(button => {
    button.addEventListener("click", function() {
      const username = this.getAttribute("data-username");
      
      const tempInput = document.createElement('input');
      tempInput.value = username;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand('copy');
      document.body.removeChild(tempInput);
      
      // Buton metnini "Kopyalandı" olarak değiştir
      this.textContent = "Kopyalandı";

      // 2 saniye sonra buton metnini tekrar "Kopyala" olarak geri değiştir
      setTimeout(() => {
        this.textContent = "Kopyala";
      }, 2000);
    });
  });
</script>

{% endblock %}
