{% extends 'base.html' %}

{% block title %}Ana Sayfa{% endblock %}

{% block header %}
  {% if user.is_authenticated %}
    Hoş Geldiniz, {{ user.username }}!
  {% else %}
    Hoş Geldiniz
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container mt-4">
    {% if user.is_authenticated %}
      <h3 style="text-align:center; margin-bottom:35px;">Hoşgeldiniz <span class="text-success">{{ user.username }}</span>, eklediğiniz son şifreleriniz:</h3>
      <div class="row">
        {% if user_passwords %}
          {% for password in user_passwords %}
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ password.website }}</h5>
                  <p class="card-text">Kullanıcı Adı: {{ password.username }}</p>
                  <p class="card-text">Parola: <span class="password" data-password="{{ password.password }}">
                    {% for i in password.password %}*{% endfor %}
                  </span></p>
                  <button class="btn btn-primary copy-password btn-sm">Parolayı Kopyala</button>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p class="alert alert-info">Henüz şifre eklememişsiniz.</p>
        {% endif %}
      </div>
    {% else %}
      <!-- Login olmayan kullanıcılar için giriş kartı veya mesajı buraya gelecek -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hoş Geldiniz!</h5>
          <p class="card-text">Hesabınıza giriş yapın veya yeni bir hesap oluşturun.</p>
          <a href="{% url 'login' %}" class="btn btn-primary">Giriş Yap</a>
          <a href="{% url 'register' %}" class="btn btn-secondary">Kayıt Ol</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<script>
    // Parola Kopyalama
    document.querySelectorAll(".copy-password").forEach(button => {
      button.addEventListener("click", function() {
        const passwordSpan = this.parentElement.querySelector(".password");
        const password = passwordSpan.getAttribute("data-password");
        
        const tempInput = document.createElement('input');
        tempInput.value = password;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
        
        // Buton rengini yeşil yap
        this.classList.add("btn-success");
        
        // Buton metnini "Kopyalandı" olarak değiştir
        this.textContent = "Kopyalandı";

        // 2 saniye sonra buton metnini tekrar "Parolayı Kopyala" olarak geri değiştir
        setTimeout(() => {
          this.textContent = "Parolayı Kopyala";
          // Yeşil rengi kaldır
          this.classList.remove("btn-success");
        }, 2000);
      });
    });
</script>

{% endblock %}
