{% extends 'base.html' %}

{% block title %}Şifre Oluşturucu{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto mt-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Şifre Oluşturucu</h3>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'password_generator' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="password-length" class="form-label">Şifre Uzunluğu</label>
                        <input type="number" class="form-control" id="password-length" name="password-length" min="6" value="12">
                    </div>
                    <div class="mb-3">
                        <label for="include-uppercase" class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="include-uppercase" name="include-uppercase">
                            Büyük Harf İçersin
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="include-numbers" class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="include-numbers" name="include-numbers">
                            Rakam İçersin
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="include-symbols" class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="include-symbols" name="include-symbols">
                            Sembol İçersin
                        </label>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Şifre Oluştur</button>
                    </div>
                </form>
                <div class="mb-3">
                    <label for="generated-password" class="form-label">Oluşturulan Şifre</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="generated-password" name="generated-password" value="{{ generated_password }}" readonly>
                        <button type="button" class="btn btn-secondary" id="copy-password-button">Kopyala</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const generatedPasswordInput = document.getElementById('generated-password');
        const copyPasswordButton = document.getElementById('copy-password-button');

        copyPasswordButton.addEventListener('click', function () {
            generatedPasswordInput.select();
            document.execCommand('copy');

            // Düğmeyi "Kopyalandı" olarak değiştirin ve yeşile döndürün
            copyPasswordButton.textContent = 'Kopyalandı';
            copyPasswordButton.classList.remove('btn-secondary');
            copyPasswordButton.classList.add('btn-success');
            
            // 2 saniye sonra düğmeyi eski haline getirin
            setTimeout(function () {
                copyPasswordButton.textContent = 'Kopyala';
                copyPasswordButton.classList.remove('btn-success');
                copyPasswordButton.classList.add('btn-secondary');
            }, 750);
        });
    });
</script>


{% endblock %}
