{% extends "base.html" %}

{% block content %}
<style>
    .col-spacing {
        margin-right: 10px; /* Ara boşluğu ayarlar */
    }

    .row-spacing {
        margin-bottom: 10px; /* Satır boşluğunu ayarlar */
    }

    .form-label {
        font-weight: bold; /* Etiketleri kalın yapar */
    }
</style>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Şifre Güncelle</h1>
          
          <form method="post">
            {% csrf_token %}
            
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row-spacing">
                  <label for="{{ form.website.id_for_label }}" class="form-label">Website:</label>
                </div>
                <div class="form-group row-spacing">
                  <label for="{{ form.username.id_for_label }}" class="form-label">Kullanıcı Adı:</label>
                </div>
                <div class="form-group row-spacing">
                  <label for="{{ form.password.id_for_label }}" class="form-label">Yeni Şifre:</label>
                </div>
                <div class="form-group row-spacing">
                  <label for="{{ form.confirm_password.id_for_label }}" class="form-label">Yeni Şifre Tekrar:</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row-spacing">
                  {{ form.website }}
                </div>
                <div class="form-group row-spacing">
                  {{ form.username }}
                </div>
                <div class="form-group row-spacing">
                  {{ form.password }}
                </div>
                <div class="form-group row-spacing">
                  {{ form.confirm_password }}
                </div>
              </div>
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">Güncelle</button>
          </form>
          
          {% if form.errors %}
            <div class="alert alert-danger mt-3" role="alert">
              <strong>Hata!</strong> Lütfen aşağıdaki hataları düzeltin:
              <ul>
                {% for field, errors in form.errors.items %}
                  <li>{{ field|title }}: {{ errors|join:", " }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          
          <a href="{% url 'dashboard' %}" class="btn btn-secondary mt-3">Geri dön</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
